@model Screenwriter.Models.Media

@{
    ViewBag.Title = "EditMedia";
}

<h2>EditMedia</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Media</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LanguageID)
                @Html.ValidationMessageFor(model => model.LanguageID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.length, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.length)
                @Html.ValidationMessageFor(model => model.length)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YoutubeIdentifier, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YoutubeIdentifier)
                @Html.ValidationMessageFor(model => model.YoutubeIdentifier)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VimeoIdentifier, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VimeoIdentifier)
                @Html.ValidationMessageFor(model => model.VimeoIdentifier)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.publishDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.publishDate)
                @Html.ValidationMessageFor(model => model.publishDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImdbID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImdbID)
                @Html.ValidationMessageFor(model => model.ImdbID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImdbURL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImdbURL)
                @Html.ValidationMessageFor(model => model.ImdbURL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Season, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Season)
                @Html.ValidationMessageFor(model => model.Season)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Episode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Episode)
                @Html.ValidationMessageFor(model => model.Episode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Course, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Course)
                @Html.ValidationMessageFor(model => model.Course)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.School, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.School)
                @Html.ValidationMessageFor(model => model.School)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lecturer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lecturer)
                @Html.ValidationMessageFor(model => model.Lecturer)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
