
@{
    ViewBag.Title = "LoggedInHomePage";
}
<style>
    .row {
        padding: 5px;
    }

    table, td {
        width: 100%;
        height: 50px;
        padding: 15px;
        table-layout: fixed;
    }
    #textboxinput {
        height: 30px;
        width: 600px;
    }
    .linkbutton
    {
        border:4px outset;
        padding:2px;
        text-decoration:none;
    }
    #introduction {
        border-radius: 10px;
        box-shadow: 10px 10px 5px #808080;
        position: relative;
        left: -100px;
        top: -2px;
        background-image: url(http://demo.templateworld.com/zero/in_action/mCube/images/footBg.png);
    }
  
</style>

@Html.Partial("HeaderLoggedIn")

<div class="container">
    <div class="row">
        <div class="col-md-8" id="introduction" style="color:grey;">
            <h1>Instructions</h1>
            <ol>
                <li>
                    <p>Search for your desired title in the search box below</p>
                </li>
                <li>
                    <p>If it exists you will be presented with the option to download the text file with the subtitles.</p>
                </li>
                <li>
                    <p>If your desired title has not been translated, you will see existing requests or you can request the title</p>
                </li>
            </ol>
        </div>
        <div class="col-md-4">
            @Html.ActionLink("View Requests", "PendingRequests", "Home")<br />
            @Html.ActionLink("Create", "Create", "Home")<br />
            @Html.ActionLink("History", "History", "Home")
        </div>
    </div>
    <div class="row">
        <form name="input" action="SearchResults" method="get">
            <div class="col-md-6 col-md-offset-4">
                <input type="text" id=textboxinput />
            @Html.ActionLink("Search", "SearchResults", "Home")
            </div>
        </form>
    </div>
</div>

<div>
    <table>
        <tr>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
            <td>Language</td>
        </tr>
    </table>
</div>

@Html.Partial("MostPopularAndMostRequested")