@model Screenwriter.ViewModels.MediaViewModel

@{
	ViewBag.Title = "Media";
}

<h2>@Model.Media.Title<small>(@Html.ActionLink("edit","EditMedia", new { id = Model.Media.ID }))</small></h2>
<div class="panel clearfix">
	<div class="col-md-6 col-sm-6">
		<dl>
			<dt>Spoken language:</dt>
			<dd><img src="#" class="flag flag-@Model.MediaLanguage.ShortName" alt="@Model.MediaLanguage.Name" /> @Model.MediaLanguage.Name</dd>
			<dt>Publish date:</dt>
			<dd>@Model.Media.publishDate</dd>
			@if (Model.Media.length > 0)
			{
			<dt>Length:</dt>
			<dd>@Model.Media.length</dd>
			}
			@if (!String.IsNullOrEmpty(Model.Media.YoutubeIdentifier))
			{
			<dt>Youtube:</dt>
			<dd>
				<a href="//www.youtube.com/watch?v=@Model.Media.YoutubeIdentifier" target="_blank">
					Watch this on youtube
				</a>
			</dd>
			}
			@if (!String.IsNullOrEmpty(Model.Media.ImdbURL))
			{
			<dt>IMDB:</dt>
			<dd>
				<a href="@Model.Media.ImdbURL" target="_blank">
					See this media's imdb site
				</a>
			</dd>
			}
		</dl>
	</div>
	@if(Model.Media.Type != 0)
	{
	<div class="col-md-6 col-sm-6">
		<dl>
			@if(Model.Media.Type == 1)
			{
				if(!String.IsNullOrEmpty(Model.Media.Season.ToString()))
				{
				<dt>Season:</dt>
				<dd>@Model.Media.Season</dd>
				}
				if(!String.IsNullOrEmpty(Model.Media.Episode.ToString()))
				{
				<dt>Episode:</dt>
				<dd>@Model.Media.Episode</dd>
				}
			}
			else if(Model.Media.Type == 2)
			{
				if(!String.IsNullOrEmpty(Model.Media.Course))
				{
				<dt>Course:</dt>
				<dd>@Model.Media.Course</dd>
				}
				if(!String.IsNullOrEmpty(Model.Media.School))
				{
				<dt>School:</dt>
				<dd>@Model.Media.School</dd>
				}
				if(!String.IsNullOrEmpty(Model.Media.Lecturer))
				{
				<dt>Lecturer:</dt>
				<dd>@Model.Media.Lecturer</dd>
				}
			}
		</dl>
	</div>
	}
</div>
@if(Model.FinishedSubtitles.Count != 0)
{
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Subtitles</h4>
	</div>
	<table class="table">
		<tr>
			<th>Language</th>
			<th>Last updated</th>
			<th>Download count</th>
			<th>Download</th>
			@if (User.Identity.IsAuthenticated)
			{
				<th>Edit</th>
			}
		</tr>
		@foreach (var item in Model.FinishedSubtitles)
		{
			<tr>
				<td><img src="#" class="flag flag-@item.Language.ShortName" alt="@item.Language.Name" /> @item.Language.Name</td>
				<td>@item.Subtitle.LastUpdated</td>
				<td><span title="Download count">@item.Subtitle.DownloadCount</span></td>
				<td>
					<a href="@Url.Action("Download", new { id = item.Subtitle.ID })" title="Download">
						<span class="glyphicon glyphicon-download"></span>
					</a>
				</td>
				@if (User.Identity.IsAuthenticated)
				{
					<td>
						<a href="@Url.Action("Subtitle", "Editor", new { id = item.Subtitle.ID })" title="Edit subtitle">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</td>
				}
			</tr>
		}
	</table>
</div>
}
@if(Model.UnfinishedSubtitles.Count != 0)
{
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Requests</h4>
	</div>
	<table class="table">
		<tr>
			<th>Language</th>
			<th>Last updated</th>
			<th>Request count</th>
			<th>Request</th>
			@if (User.Identity.IsAuthenticated)
			{
			<th>Edit</th>
			<th>Upload</th>
			}
		</tr>
		@foreach (var item in Model.UnfinishedSubtitles)
		{
			<tr>
				<td><img src="#" class="flag flag-@item.Language.ShortName" alt="@item.Language.Name" /> @item.Language.Name</td>
				<td>@item.Subtitle.LastUpdated</td>
				<td><span title="Request count">@item.Subtitle.Requests.Count</span></td>
				<td>
					<a href="@Url.Action("UpvoteSubtitleRequest", new { id = item.Subtitle.ID })" class="requestSubtitle" title="Add request" data-id="@item.Subtitle.ID">
						<span class="glyphicon glyphicon-plus-sign"></span>
					</a>
				</td>
				@if (User.Identity.IsAuthenticated)
				{
					<td>
						<a href="@Url.Action("Subtitle", "Editor", new { id = item.Subtitle.ID })" title="Edit subtitle">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</td>
					<td>
						<input type="file" class="fileUpload" id="@item.Subtitle.ID" name="files[]" />
					</td>
				}
			</tr>
		}
	</table>
</div>
}
<div class="panel text-center">
	<button type="button" class="btn btn-primary btn-lg" onclick="window.location = '/Home/CreateRequest/';">Request a new subtitle</button>
</div>