@model Screenwriter.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@Html.TextBox("titleSearch")
<input type="submit" value=" Search" />

<table class="table">
    <tr>
        <th>Most Downloaded</th>
    </tr>

    @foreach (var item in Model.MostDownloaded)
    {
        <tr>
            <td>
                @item.Media.Title
            </td>
            <td>
                @item.Language.Name
            </td>
        </tr>
    }

</table>
<table class="table">
    <tr>
        <th>Newest Subtitles</th>
    </tr>

    @foreach (var item in Model.NewestSubtitles)
    {
        <tr>
            <td>
                @item.Media.Title
            </td>
            <td>
                @item.Language.Name
            </td>
        </tr>
    }

</table>
<table class="table">
    <tr>
        <th>Most Requested</th>
    </tr>

    @foreach (var item in Model.MostRequested)
    {
        <tr>
            <td>
                @item.Media.Title
            </td>
            <td>
                @item.Language.Name
            </td>
        </tr>
    }

</table>