@model Screenwriter.ViewModels.SearchFormViewModel

@using (Html.BeginForm("SearchResults", "Home", FormMethod.Post, htmlAttributes: new { role = "form" }))
{
@Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<div class="form-group row">
		<label class="sr-only" for="searchBox">Search Box</label>
		<input type="text" id="searchBox" class="form-control" placeholder="Search" />
	</div>
    <div class="form-group">
        @Html.LabelFor(model => model.PublishDate, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PublishDate)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Season, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Season)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Episode, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Episode)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Type)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Course, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Course)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.School, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.School)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Lecturer, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Lecturer)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
			<button type="button" class="btn btn-default" id="advSearchButton">
				<span class="glyphicon glyphicon-zoom-in"></span>
			</button>

			<button type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-search"></span>
			</button>
        </div>
    </div>
</div>
}