@model Screenwriter.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Most Downloaded</h4>
        </div>
        <table class="table">
            <!--
            <tr>
                <th>Title</th>
                <th>Language</th>
                <th>Downloads</th>
            </tr>
            -->
            @foreach (var item in Model.MostDownloaded)
            {
            <tr>
                <td>
                    @item.Media.Title
                </td>
                <td>
                    @item.Language.Name
                </td>
                <td>
                    @item.Subtitle.DownloadCount
                </td>
                <td>
                    @Html.ActionLink("Download", "Download", new { id = item.Subtitle.ID })
                </td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Latest Subtitles</h4>
        </div>
        <table class="table">
            <!--
            <tr>
                <th>Title</th>
                <th>Language</th>
                <th>Added</th>
            </tr>
            -->
            @foreach (var item in Model.NewestSubtitles)
            {
            <tr>
                <td>
                    @item.Media.Title
                </td>
                <td>
                    @item.Language.Name
                </td>
                <td>
                    @{TimeSpan days = (DateTime.Now - item.Subtitle.DateCompleted);}
                    @days.Minutes minutes ago
                </td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Most Requested</h4>
        </div>
        <table class="table">
            <!--
            <tr>
                <th>Title</th>
                <th>Name</th>
                <th>Requests</th>
            </tr>
            -->
            @foreach (var item in Model.MostRequested)
            {
            <tr>
                <td>
                    @item.Media.Title
                </td>
                <td>
                    @item.Language.Name
                </td>
                <td>
                    @item.Subtitle.Requests.Count
                </td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="clearfix"></div>