@model Screenwriter.ViewModels.SearchResultsViewModel

@{
    ViewBag.Title = "Search Results";
 }

@using (Html.BeginForm())
{
    
		<h3>
			Title @Html.TextBox("titleSearch")
			<button type="button" class="btn btn-default" id="advSearchButton">
				<span class="glyphicon glyphicon-zoom-in"></span>
			</button>

			<button type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</h3>
}
<div id="advancedSearch" class="container">
	<div class="form-group">
		<h4>
			Year Published @Html.TextBox("YearPublished")
			Media Language @Html.DropDownList("MediaLanguage", "All Languages")
			Media Genre @Html.DropDownList("SearchGenre", "All Genres")
		</h4>
	</div>
	<div class="form-group">
	<h4>
		Season @Html.TextBox("Season")
		Episode @Html.TextBox("Episode")
	</h4>
	</div>
</div>

<table class="table">
		<tr>
			<th></th>
		</tr>

		@foreach (var item in Model.Results)
		{
			<tr>
				<td>
					@item.Title
				</td>
				<td>
					<p>Year</p>
				</td>
			</tr>
		}

	</table>

