@model Screenwriter.ViewModels.SearchResultsViewModel

@{
    ViewBag.Title = "Search Results";
 }

@using (Html.BeginForm())
{
    
    <p>
        Title: @Html.TextBox("titleSearch")
        @foreach (var l in Model.LangSearch)
        {
            @l.Name @Html.CheckBox("@l.Name", "isChecked")
        }
		<button type="button" class="btn btn-default" id="advSearchButton">
			<span class="glyphicon glyphicon-zoom-in"></span>
		</button>
       
		<button type="submit" class="btn btn-default">
			<span class="glyphicon glyphicon-search"></span>
		</button>
    </p>

<div id="advancedSearch" class="container-fluid">
	<div class="form-group">
		<p>@Html.TextBox("YearPublished")
		@Html.DropDownList("MediaLanguage")
		@{/*Html.DropDownList("SearchGenre")*/}</p>
	</div>
	<div class="form-group">
		@Html.DropDownList("MediaType")
		@Html.TextBox("Season")
		@Html.TextBox("Episode")
	</div>
</div>
}
<table class="table">
		<tr>
			<th></th>
		</tr>

		@foreach (var item in Model.Results)
		{
			<tr>
				<td>
					@item.Title
				</td>
				<td>
					<p>Year</p>
				</td>
			</tr>
		}

	</table>

