@model Screenwriter.ViewModels.SearchViewModel

@{
ViewBag.Title = "Search";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("SearchViewPartial", Model.SearchForm)

<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Most Downloaded</h4>
		</div>
		<table class="table">
			@foreach (var item in Model.MostDownloaded)
			{
			<tr>
				<td>
					@Html.ActionLink(@item.Media.Title, "Media", new { id = item.Media.ID })
				</td>
				<td>
					<img src="#" alt="@item.Language.Name" title="@item.Language.Name" class="flag flag-@item.Language.ShortName" />
				</td>
				<td>
					@item.Subtitle.DownloadCount
				</td>
				<td>
					<a href="@Url.Action("Download", new { id = item.Subtitle.ID })" title="Download">
						<span class="glyphicon glyphicon-download"></span>
					</a>
				</td>
			</tr>
			}
		</table>
	</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Latest Subtitles</h4>
		</div>
		<table class="table">
			@foreach (var item in Model.NewestSubtitles)
			{
			<tr>
				<td>
					@Html.ActionLink(@item.Media.Title, "Media", new { id = item.Media.ID })
				</td>
				<td>
					<img src="#" alt="@item.Language.Name" title="@item.Language.Name" class="flag flag-@item.Language.ShortName" />
				</td>
				<td>
					@{TimeSpan days = (DateTime.Now - item.Subtitle.DateCompleted);}
					@days.Minutes minutes ago
				</td>
				<td>
					<a href="@Url.Action("Download", new { id = item.Subtitle.ID })" title="Download">
						<span class="glyphicon glyphicon-download"></span>
					</a>
				</td>
			</tr>
			}
		</table>
	</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Most Requested</h4>
		</div>
		<table class="table">
			@foreach (var item in Model.MostRequested)
			{
			<tr>
				<td>
					@Html.ActionLink(@item.Media.Title, "Media", 
						new { id = item.Media.ID }, 
						new { title="See more about \"" + item.Media.Title + "\"" })
				</td>
				<td>
					<img src="#" alt="@item.Language.Name" title="@item.Language.Name" class="flag flag-@item.Language.ShortName" />
				</td>
				<td>
					<span title="Request Count">@item.Subtitle.Requests.Count</span>
				</td>
				<td>
					<a href="@Url.Action("UpvoteSubtitleRequest", new { id = item.Subtitle.ID })" class="requestSubtitle" title="Add request" data-id="@item.Subtitle.ID">
						<span class="glyphicon glyphicon-plus-sign"></span>
					</a>
				</td>
			</tr>
			}
		</table>
	</div>
</div>
<div class="clearfix"></div>



<!-- TODO: Make pop up Error Window partial and use for other errors -->
<div class="modal fade" id="registerToRequestError" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="registerToRequestErrorLabel">
					Request Error - Unregistered User
				</h4>
			</div>
			<div class="modal-body">
				You have to register to be able to request subtitles.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
			</div>
		</div>
	</div>
</div>
