@model Screenwriter.ViewModels.SearchViewModel

@{
ViewBag.Title = "Search";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Search", "Home", FormMethod.Post, htmlAttributes: new { role = "form" }))
{
<h3>
	Title @Html.TextBox("titleSearch")
	<button type="button" class="btn btn-default" id="advSearchButton">
		<span class="glyphicon glyphicon-zoom-in"></span>
	</button>
	<button type="submit" class="btn btn-default">
		<span class="glyphicon glyphicon-search"></span>
	</button>
</h3>
<div id="advancedSearch" class="container">
	<div class="form-group">
		<h4>
			Year Published @Html.TextBox("YearPublished")
			Media Language DROPDOWN
			Media Genre DROPDOWN
		</h4>
	</div>
	<div class="form-group">
		<h4>
			Season @Html.TextBox("Season")
			Episode @Html.TextBox("Episode")
		</h4>
	</div>
</div>
}

@if (Model.Results != null)
{
<table class="table">
	<tr>
		<th>Title</th>
	</tr>

	@foreach (var item in Model.Results)
	{
	<tr>
		<td>@item.Title</td>
	</tr>
	}
</table>
}
@if (Model.RequestResults != null)
{
<table class="table">
	<tr>
		<th>Title</th>
	</tr>
	@foreach(var item in Model.RequestResults)
	{
	<tr>
		<td>
			@item.Title
		</td>
	</tr>
	}
</table>
}
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Most Downloaded</h4>
		</div>
		<table class="table">
			@foreach (var item in Model.MostDownloaded)
			{
			<tr>
				<td>
					@Html.ActionLink(@item.Media.Title, "Media",
						new { id = item.Media.ID },
						new { title = "See more about \"" + item.Media.Title + "\"" })
				</td>
				<td>
					<img src="#" alt="@item.Language.Name" title="@item.Language.Name" class="flag flag-@item.Language.ShortName" />
				</td>
				<td>
					<span title="Download count">@item.Subtitle.DownloadCount</span>
				</td>
				<td>
					<a href="@Url.Action("Download", new { id = item.Subtitle.ID })" title="Download">
						<span class="glyphicon glyphicon-download"></span>
					</a>
				</td>
			</tr>
			}
		</table>
	</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Latest Subtitles</h4>
		</div>
		<table class="table">
			@foreach (var item in Model.NewestSubtitles)
			{
			<tr>
				<td>
					@Html.ActionLink(@item.Media.Title, "Media",
						new { id = item.Media.ID },
						new { title = "See more about \"" + item.Media.Title + "\"" })
				</td>
				<td>
					<img src="#" alt="@item.Language.Name" title="@item.Language.Name" class="flag flag-@item.Language.ShortName" />
				</td>
				<td>
					<a href="@Url.Action("Download", new { id = item.Subtitle.ID })" title="Download">
						<span class="glyphicon glyphicon-download"></span>
					</a>
				</td>
			</tr>
			}
		</table>
	</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Most Requested</h4>
		</div>
		<table class="table">
			@foreach (var item in Model.MostRequested)
			{
			<tr>
				<td>
					@Html.ActionLink(@item.Media.Title, "Media", 
						new { id = item.Media.ID }, 
						new { title="See more about \"" + item.Media.Title + "\"" })
				</td>
				<td>
					<img src="#" alt="@item.Language.Name" title="@item.Language.Name" class="flag flag-@item.Language.ShortName" />
				</td>
				<td>
					<span title="Request count">@item.Subtitle.Requests.Count</span>
				</td>
				<td>
					<a href="@Url.Action("UpvoteSubtitleRequest", new { id = item.Subtitle.ID })" class="requestSubtitle" title="Add request" data-id="@item.Subtitle.ID">
						<span class="glyphicon glyphicon-plus-sign"></span>
					</a>
				</td>
				@if(User.Identity.IsAuthenticated)
				{
				<td>
					<a href="@Url.Action("Subtitle", "Editor", new { id = item.Subtitle.ID })" title="Edit subtitle">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
				</td>
				}
			</tr>
			}
		</table>
	</div>
</div>
<div class="clearfix"></div>


@{
	// TODO: Make pop up Error Window partial and use for other errors.
}
<div class="modal fade" id="registerToRequestError" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="registerToRequestErrorLabel">
					Request Error - User not logged in
				</h4>
			</div>
			<div class="modal-body">
				You have to log in to be able to request subtitles.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
				@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
			</div>
		</div>
	</div>
</div>