@model IEnumerable<Screenwriter.Models.Subtitle>

@{
    ViewBag.Title = "Subtitle Test";
}

<h2>Test</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TranslationIsCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DownloadCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
    </tr>
}

</table>
