@model Screenwriter.ViewModels.EditorViewModel

@{
    ViewBag.Title = "Editor";
}

<h2>@ViewBag.Title - @Model.Media.Title</h2>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>TODO: SubtitleLanguage</h4>
			@Html.DropDownList("referenceLanguage", Model.LanguageDropDownList, new { data_url = @Url.Action("ReferenceLanguage") })
		</div>
		<div id="referenceWindow" class="panel-body subtitleWindow">
			@Html.Partial("ReferenceWindow", Model.ReferenceSubtitle)
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>@Model.WorkingLanguage.Name <img src="#" class="flag flag-@Model.WorkingLanguage.ShortName" alt="@Model.WorkingLanguage.Name" /></h4>
		</div>
		<div class="panel-body subtitleWindow">
			<ul>
				@foreach (var item in Model.WorkingSubtitle.Entries)
				{
				<li>
					<ul class="entry-@item.ID" >
						<li><strong>StartTime -- EndTime</strong></li>
						<li>
							@Html.TextBox("entry-" + item.ID + "-1", 
							item.Line1, 
							new { data_line = "1", data_entry = item.ID })
						</li>
						<li>
							@Html.TextBox("entry-" + item.ID + "-2", 
							item.Line2, 
							new { data_line = "2", data_entry = item.ID })
						</li>
					</ul>
				</li>
				}
			</ul>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>TODO: Comments</h4>
		</div>
		<div>
			<div id="test">Entry</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>